* {
    box-sizing: border-box;
    margin: 0 auto; 
}

body {
    font-family: 'Play', sans-serif;
    background-color: #330066;
    color: white;
    height:100%;
    width:100%;
    padding:0;
}

header {
    display: block;
    background: #330066;
    padding: 60px;
    box-sizing:border-box;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

.title h1 {
    margin: 30px;
    font-size: 60px;
}

h3 {
    margin: 20px;
}

.explanation {
    margin: 30px 200px;
    background-color: black;
    opacity: 0.6;
    padding: 20px;
    text-align: justify;
}

.gallery-title {
    color: #fff;
    text-align: center;
    padding: 30px;
}

#gallery {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
}

#gallery li { 
    display: none;
    float: left;
    list-style: none; 
}

img {
    height: 300px;
    width: 300px;
    margin: 10px; 
}

.btn-load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    border-radius: 25px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #000;
  }
  
